src/xsd/br/gov/prodesp/folhaOrdinaria/AUDESP_PAGAMENTO_FOLHA_ORDINARIA_AGENTE_PUBLICO_2019_A.XSD

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:gen="http://www.tce.sp.gov.br/audesp/xml/generico"
	xmlns:ap="http://www.tce.sp.gov.br/audesp/xml/atospessoal"
	xmlns:pfo="http://www.tce.sp.gov.br/audesp/xml/remuneracao" 
	
	targetNamespace="http://www.tce.sp.gov.br/audesp/xml/remuneracao"
	attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	version="1.0" 
    xml:lang="pt-BR">
    
	<xs:import namespace="http://www.tce.sp.gov.br/audesp/xml/generico" schemaLocation="../generico/AUDESP_TIPOSGENERICOS_2019_A.XSD"/>
	<xs:import namespace="http://www.tce.sp.gov.br/audesp/xml/atospessoal" schemaLocation="../generico/AUDESP_TIPOSGENERICOS_ATOSPESSOAL_2019_A.XSD"/>
	   
    <xs:annotation>
        <xs:documentation>
            <Data>2019-01-09</Data>
            <VersaoRevisaoAnterior/>
            <VersaoRevisaoNova>2019_A</VersaoRevisaoNova>
            <Descricao>XSD de Pagamento de Folha Ordinária</Descricao>
            <Justificativa>Modelo para 2019</Justificativa>
            <Autor>2019</Autor>
        </xs:documentation>
    </xs:annotation>
    
    <xs:group name="ValorPagamentoFolhaOrdinaria_group">
	  <xs:sequence>
    	<xs:element name="valorPagoContaCorrente" 	type="ap:moeda" 	minOccurs="1" maxOccurs="1"/>
    	<xs:element name="valorPagoOutrasFormas"	type="ap:moeda"		minOccurs="1" maxOccurs="1"/>
	  </xs:sequence>
	</xs:group>

    <xs:complexType name="PagamentoFolhaOrdinariaAgentePublico_t">
    	<xs:sequence>
    		<xs:element name="Descritor"		type="gen:DescritorMensal_t"	minOccurs="1" maxOccurs="1"/>
    		<xs:element name="AnoPagamento"		type="gen:Ano_t"	minOccurs="1" maxOccurs="1"/>
			<xs:element name="MesPagamento"		type="gen:Mes_t"	minOccurs="1" maxOccurs="1"/>
			<xs:element name="IdentificacaoAgentePublico" 	type="pfo:IdentificacaoAgentePublico_t2" 		minOccurs="1" maxOccurs="unbounded"/>
    		<xs:element name="IdentificacaoPensionista" 	type="pfo:IdentificacaoPensionista_t2" 	minOccurs="0" maxOccurs="unbounded"/>
    	</xs:sequence>
    </xs:complexType>

    <xs:complexType name="IdentificacaoAgentePublico_t2">
    	<xs:sequence>
    		<xs:element name="CPF" 		type="gen:CPF_t"		minOccurs="1" maxOccurs="1"/>
    		<xs:sequence>
            	<xs:element name="MunicipioLotacao"       type="gen:CodigoMunicipio_t"   minOccurs="1" maxOccurs="1"/>
            	<xs:element name="EntidadeLotacao"        type="gen:CodigoEntidade_t"    minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
    		<xs:choice minOccurs="0">
            	<xs:element name="CodigoCargo" 		type="ap:CodigoAlphaNumericoPontoBarraTraco_t" 	minOccurs="1" maxOccurs="1"/>
            	<xs:element name="CodigoFuncao" 	type="ap:CodigoAlphaNumericoPontoBarraTraco_t" 	minOccurs="1" maxOccurs="1"/>
            </xs:choice>
			<xs:element name="formaPagamento" type="ap:TipoFormaPagamento_t" minOccurs="1" maxOccurs="1"/>
			<xs:sequence minOccurs="0" maxOccurs="1">
				<xs:element name="numeroBanco"  minOccurs="1" maxOccurs="1">
					<xs:simpleType>
			     		<xs:restriction base="xs:string">
			         		<xs:minLength value="1"/>
			         		<xs:maxLength value="255"/>
			     		</xs:restriction>
			 		</xs:simpleType>
				</xs:element>
				<xs:element name="agencia" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
			     		<xs:restriction base="xs:string">
			         		<xs:minLength value="1"/>
			         		<xs:maxLength value="255"/>
			     		</xs:restriction>
			 		</xs:simpleType>
				</xs:element>
				<xs:element name="ContaCorrente" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
			     		<xs:restriction base="xs:string">
			         		<xs:minLength value="1"/>
			         		<xs:maxLength value="255"/>
			     		</xs:restriction>
			 		</xs:simpleType>
				</xs:element>
			</xs:sequence>
           <xs:element name="Valores"	minOccurs="1" maxOccurs="1">
    			<xs:complexType>
                	<xs:group ref="pfo:ValorPagamentoFolhaOrdinaria_group"/>
   				</xs:complexType>
    		</xs:element>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="IdentificacaoPensionista_t2">
    	<xs:sequence>
    		<xs:element name="CPF" 		type="gen:CPF_t"		minOccurs="1" maxOccurs="1"/>
			<!--<xs:element name="TipoDocumento" type="ap:TipoDocumentoIdentificacaoIndividual_t" minOccurs="1" maxOccurs="1"/>-->
			<xs:sequence>
				<xs:element name="MunicipioLotacaoAgentePublico"       type="gen:CodigoMunicipio_t"   minOccurs="1" maxOccurs="1"/>
				<xs:element name="EntidadeLotacaoAgentePublico"        type="gen:CodigoEntidade_t"    minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
			<xs:element name="formaPagamento" type="ap:TipoFormaPagamento_t" minOccurs="1" maxOccurs="1"/>
			<xs:sequence minOccurs="0" maxOccurs="1">
				<xs:element name="numeroBanco"  minOccurs="1" maxOccurs="1">
					<xs:simpleType>
			     		<xs:restriction base="xs:string">
			         		<xs:minLength value="1"/>
			         		<xs:maxLength value="255"/>
			     		</xs:restriction>
			 		</xs:simpleType>
				</xs:element>
				<xs:element name="agencia" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
			     		<xs:restriction base="xs:string">
			         		<xs:minLength value="1"/>
			         		<xs:maxLength value="255"/>
			     		</xs:restriction>
			 		</xs:simpleType>
				</xs:element>
				<xs:element name="ContaCorrente" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
			     		<xs:restriction base="xs:string">
			         		<xs:minLength value="1"/>
			         		<xs:maxLength value="255"/>
			     		</xs:restriction>
			 		</xs:simpleType>
				</xs:element>
			</xs:sequence>
			<xs:element name="Valores"	minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:group ref="pfo:ValorPagamentoFolhaOrdinaria_group"/>                
				</xs:complexType>
    		</xs:element>
    	</xs:sequence>
    </xs:complexType>
 
    <!-- root  -->
    <xs:element name="PagamentoFolhaOrdinariaAgentePublico" type="pfo:PagamentoFolhaOrdinariaAgentePublico_t"/>
    <!-- root  -->
    
</xs:schema>