src/xsd/br/gov/prodesp/folhaOrdinaria/AUDESP_FOLHA_ORDINARIA_AGENTE_PUBLICO_2020_A.XSD

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:gen="http://www.tce.sp.gov.br/audesp/xml/generico"
	xmlns:ap="http://www.tce.sp.gov.br/audesp/xml/atospessoal"
	xmlns:foap="http://www.tce.sp.gov.br/audesp/xml/remuneracao" 
	xmlns:aux="http://www.tce.sp.gov.br/audesp/xml/auxiliar"
	
	targetNamespace="http://www.tce.sp.gov.br/audesp/xml/remuneracao"
	attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	version="1.0" 
    xml:lang="pt-BR">
    
    <xs:import namespace="http://www.tce.sp.gov.br/audesp/xml/generico" schemaLocation="../generico/AUDESP_TIPOSGENERICOS_2019_A.XSD"/>
	<xs:import namespace="http://www.tce.sp.gov.br/audesp/xml/atospessoal" schemaLocation="../generico/AUDESP_TIPOSGENERICOS_ATOSPESSOAL_2019_A.XSD"/>
	<xs:import namespace="http://www.tce.sp.gov.br/audesp/xml/auxiliar" schemaLocation="../auxiliar/AUDESP_TABELASAUXILIARES_2019_A.XSD"/>
    
    <xs:annotation>
        <xs:documentation>
            <Data>2019-01-09</Data>
            <VersaoRevisaoAnterior/>
            <VersaoRevisaoNova>2019_A</VersaoRevisaoNova>
            <Descricao>XSD de Folha Ordinária</Descricao>
            <Justificativa>Modelo para 2019</Justificativa>
            <Autor>2019</Autor>
        </xs:documentation>
    </xs:annotation>
    
    <xs:group name="ValorFolhaOrdinaria_group">
	  <xs:sequence>
    	<xs:element name="totalGeralDaRemuneracaoBruta" 	type="ap:moeda" 	minOccurs="1" maxOccurs="1"/>
    	<xs:element name="totalGeralDeDescontos"	type="ap:moeda"		minOccurs="1" maxOccurs="1"/>
    	<xs:element name="totalGeralDaRemuneracaoLiquida"	type="ap:moeda" 	minOccurs="1" maxOccurs="1"/>
    	<xs:element name="Verbas" 	type="foap:Verbas_t" 		minOccurs="1" maxOccurs="unbounded"/>
	  </xs:sequence>
	</xs:group>
	
    <xs:complexType name="FolhaOrdinariaAgentePublico_t">
    	<xs:sequence>
    		<xs:element name="Descritor"		type="gen:DescritorMensal_t"	minOccurs="1" maxOccurs="1"/>
    		<xs:element name="IdentificacaoAgentePublico" 	type="foap:IdentificacaoAgentePublicoExt_t" 		minOccurs="1" maxOccurs="unbounded"/>
    		<xs:element name="IdentificacaoPensionista" 	type="foap:IdentificacaoPensionistaExt_t" 	minOccurs="0" maxOccurs="unbounded"/>
    	</xs:sequence>
    </xs:complexType>

    <xs:complexType name="IdentificacaoAgentePublicoExt_t">
    	<xs:complexContent>
        	<xs:extension base="ap:IdentificacaoAgentePublico_t">
    			<xs:sequence>
    		    	<xs:element name="Valores"	minOccurs="1" maxOccurs="1">
    					<xs:complexType>
                			<xs:group ref="foap:ValorFolhaOrdinaria_group"/>
   						</xs:complexType>
    				</xs:element>
    			</xs:sequence>
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="IdentificacaoPensionistaExt_t">
    	<xs:complexContent>
    		<xs:extension base="ap:IdentificacaoPensionista_t">
    			<xs:sequence>
    				<xs:element name="Valores"	minOccurs="1" maxOccurs="1">
    					<xs:complexType>
                			<xs:group ref="foap:ValorFolhaOrdinaria_group"/>           
   						</xs:complexType>
    				</xs:element>
    			</xs:sequence>
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="Verbas_t">
    	<xs:sequence>
    		<xs:element name="MunicipioVerbaRemuneratoria"		type="gen:CodigoMunicipio_t"	minOccurs="1" maxOccurs="1"/>
    		<xs:element name="EntidadeVerbaRemuneratoria"		type="gen:CodigoEntidade_t"	minOccurs="1" maxOccurs="1"/>
    		<xs:element name="CodigoVerbaRemuneratoria"		type="ap:CodigoAlphaNumericoPontoBarraTraco_t"	minOccurs="1" maxOccurs="1"/>
    		<xs:element name="Valor"	type="ap:moeda"	minOccurs="1" maxOccurs="1"/>
    		<xs:element name="Natureza"	type="ap:NaturezaVerbas_t"	minOccurs="1" maxOccurs="1"/>
    		<xs:element name="Especie"	type="ap:EspecieVerbas_t"	minOccurs="1" maxOccurs="1"/>
    		<xs:element name="TipoVerbaRemuneratoria"	type="foap:TipoVerbaRemuneratoria_t"	minOccurs="1" maxOccurs="1"/>
<!--     		<xs:choice> -->
<!-- 				<xs:element name="QuantidadeHorasExtras"		type="gen:DecimalPositivo_t"	minOccurs="0" maxOccurs="1"/> -->
<!-- 				<xs:element name="QuantidadeDiasFerias"			type="gen:InteiroPositivo_t"	minOccurs="0" maxOccurs="1"/> -->
<!-- 				<xs:element name="QuantidadeDiasLicencaPremio"	type="gen:InteiroPositivo_t"	minOccurs="0" maxOccurs="1"/> -->
<!-- 			</xs:choice> -->
			
			<xs:choice>
				<xs:choice>
					<xs:element name="QuantidadeHorasExtras"		type="gen:DecimalPositivoTresDigitos_t"	minOccurs="0" maxOccurs="1"/>
					<xs:element name="ComplementoHorasExtras"		type="ap:campoOpcional_t"				minOccurs="0" maxOccurs="1"/>
				</xs:choice>
				<xs:choice>
					<xs:element name="QuantidadeDiasFerias"			type="gen:InteiroPositivoTresDigitos_t"	minOccurs="0" maxOccurs="1"/>
					<xs:element name="ComplementoDiasFerias"		type="ap:campoOpcional_t"				minOccurs="0" maxOccurs="1"/>
				</xs:choice>
				<xs:choice>
					<xs:element name="QuantidadeDiasLicencaPremio"	type="gen:InteiroPositivoTresDigitos_t"	minOccurs="0" maxOccurs="1"/>
					<xs:element name="ComplementoDiasLicencaPremio"	type="ap:campoOpcional_t"				minOccurs="0" maxOccurs="1"/>
				</xs:choice>
			</xs:choice>
    	</xs:sequence>
    </xs:complexType>

    
    
    
    <xs:complexType name="TipoVerbaRemuneratoria_t">
    	<xs:sequence>
    		<xs:element name="CodigoTipoVerbaRemuneratoria"		type="ap:TipoVerbaRemuneratoria_t"	minOccurs="1" maxOccurs="1"/>
    	</xs:sequence>
    </xs:complexType>
   
    <!-- root  -->
    <xs:element name="FolhaOrdinariaAgentePublico" type="foap:FolhaOrdinariaAgentePublico_t"/>
    <!-- root  -->
    
</xs:schema>